<ion-header>
  <ion-toolbar>
    <ion-title>Editar Alumno</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-icon name="arrow-back-outline" id="back" (click)="onClickGoBack()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img id="img" src="{{alumnoImagen}}" (click)="onClickSelectImage()">
  </ion-item>

  <ion-item>
    <ion-label>Nombre y apellidos:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="textNombre"></ion-input>
  </ion-item>
  <p class="red">{{nombreVacio}}</p>

  <ion-item>
    <ion-label>Edad:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="number" [(ngModel)]="textEdad"></ion-input>
  </ion-item>
  <p class="red">{{edadVacia}}</p>

  <ion-item>
    <ion-label>Curso:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="textCurso"></ion-input>
  </ion-item>
  <p class="red">{{cursoVacio}}</p>

  <ion-item>
    <ion-label>Formación académica:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="textFormacion"></ion-input>
  </ion-item>
  <p class="red">{{formacionVacia}}</p>

  <ion-item>
    <ion-label>Experiencia laboral:</ion-label>
    <ion-checkbox slot="start" color="success" [(ngModel)]="expBool"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="expBool">
    <ion-label>Tiempo de experiencia laboral:</ion-label>
  </ion-item>

  <ion-item *ngIf="expBool">
    <ion-input required type="text" [(ngModel)]="textTiempo"></ion-input>
  </ion-item>
  <p class="red">{{tiempoVacio}}</p>

  <ion-item>
    <ion-label>Idiomas:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="textIdiomas"></ion-input>
  </ion-item>
  <p class="red">{{idiomasVacio}}</p>


  <ion-item>
    <ion-label>Nivel Actual: {{nivelActual}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Cambiar nivel de idioma</ion-label>
    <ion-checkbox slot="start" color="success" (click)="cambiarNivelIdioma()" [(ngModel)]="nivelBool"></ion-checkbox>
  </ion-item>

  <ion-list *ngIf="nivelBool">
    <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)">
      <ion-list-header>
        <ion-label>Nivel:</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let nivelValue of nivel">
        <ion-label>{{ nivelValue.value }}</ion-label>
        <ion-radio slot="start" name="{{nivelValue.name}}" value="{{nivelValue.value}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <p class="red">{{nivelVacio}}</p>

  <ion-item>
    <ion-label>Otros datos de interés:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="textDatos"></ion-input>
  </ion-item>
  <p class="red">{{datosVacio}}</p>

  <ion-button expand="block" (click)="onClickEditAlumno()">Editar Información</ion-button>
</ion-content>