<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Empresa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="EMAIL" [(ngModel)]="user" expand="short"></ion-input>
    <p class="red">{{userfail}}</p>
  </ion-item>
  
  <ion-item>
    <ion-input type="{{tipopass}}" placeholder="PASSWORD" [(ngModel)]="pass"></ion-input>
    <p class="red">{{passfail}}</p>
    <ion-icon id="ojo" name="eye" (click)="onClickEye()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label >Nombre:<ion-text color="danger">*</ion-text></ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevoNombreEmpresa"></ion-input>
  </ion-item>
  <p class="red">{{nombreVacio}}</p>

  
  <ion-item>
    <ion-label position="fixed">CIF:<ion-text color="danger">*</ion-text></ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevoCif"></ion-input>
  </ion-item>
  <p class="red">{{cifVacio}}</p>

  <ion-item>
    <ion-label>Calle:<ion-text color="danger">*</ion-text></ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevaCalle"></ion-input>
  </ion-item>
  <p class="red">{{calleVacia}}</p>

  <ion-item>
    <ion-label >Código Postal:<ion-text color="danger">*</ion-text></ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="number" [(ngModel)]="nuevoCp"></ion-input>
  </ion-item>
  <p class="red">{{cpVacio}}</p>

  <ion-item>
    <ion-label>Localidad:<ion-text color="danger">*</ion-text></ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevaLocalidad"></ion-input>
  </ion-item>
  <p class="red">{{localidadVacia}}</p>

  <ion-item>
    <ion-label>Telefono<ion-text color="danger">*</ion-text></ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" [(ngModel)]="nuevoTelefono"></ion-input>
  </ion-item>
  <p class="red">{{telefonoVacio}}</p>
  

  <ion-item>
    <ion-label>Empresa</ion-label>
    <ion-checkbox (ionChange)="setEmpresa()" checked={{checkEmpresa}} [(ngModel)]="empresa" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-input type="{{tipopass}}" placeholder="Empresa Password" expand="short" [(ngModel)]="empresaPass" *ngIf="empresa"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="onClickSaveRegister()">Save</ion-button>
</ion-content>
