<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Empresa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="E-mail" [(ngModel)]="user" expand="short"></ion-input>
  </ion-item>
  <p class="red">{{userfail}}</p>

  <ion-item>
    <ion-input type="{{tipopass}}" placeholder="CONTRASEÑA" [(ngModel)]="pass"></ion-input>
    <ion-icon id="ojo" name="eye" (click)="onClickEye()"></ion-icon>
  </ion-item>
  <p class="red">{{passfail}}</p>

  <ion-item>
    <ion-label>Nombre:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevoNombreEmpresa"></ion-input>
  </ion-item>
  <p class="red">{{nombreVacio}}</p>


  <ion-item>
    <ion-label>CIF formato tipo: "Z87654321":<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" maxlength="9" [(ngModel)]="nuevoCif"></ion-input>
  </ion-item>
  <p class="red">{{cifVacio}}</p>
  <p class="red">{{cifInvalido}}</p>

  <ion-item>
    <ion-label>Calle:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevaCalle"></ion-input>
  </ion-item>
  <p class="red">{{calleVacia}}</p>

  <ion-item>
    <ion-label>Código Postal:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="number" [(ngModel)]="nuevoCp"></ion-input>
  </ion-item>
  <p class="red">{{cpVacio}}</p>
  <p class="red">{{cpInvalido}}</p>

  <ion-item>
    <ion-label>Localidad:<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="text" [(ngModel)]="nuevaLocalidad"></ion-input>
  </ion-item>
  <p class="red">{{localidadVacia}}</p>

  <ion-item>
    <ion-label>Telefono<ion-text color="danger">*</ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-input required type="number" [(ngModel)]="nuevoTelefono"></ion-input>
  </ion-item>
  <p class="red">{{telefonoVacio}}</p>
  <p class="red">{{telfInvalido}}</p>


  <ion-item>
    <ion-label>Empresa</ion-label>
    <ion-checkbox (ionChange)="setEmpresa()" checked={{checkEmpresa}} [(ngModel)]="empresa" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-input type="{{tipopass}}" placeholder="Empresa Password" expand="short" [(ngModel)]="empresaPass"
      *ngIf="empresa"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="onClickRegistrarEmpresa()">Registrar Empresa</ion-button>
</ion-content>