<ion-header>
  <ion-toolbar>
    <ion-title>Ver Info Empresa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon id="mail" name="mail" (click)="onClickEmail()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <h2><b>E-Mail:</b> {{empresaMail}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Nombre:</b> {{empresaNombre}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>CIF:</b> {{empresaCif}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Calle:</b> {{empresaCalle}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>CP:</b> {{empresaCp}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Localidad:</b> {{empresaLocalidad}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Telefono:</b> {{empresaTelefono}}</h2>
  </ion-item>

</ion-content>