<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon id="filter" name="funnel" (click)="onClickFilterFav()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let alumno of alumnosListaFav">  
    <ion-item (click)="showAlumno(alumno.userInfo)">             
        <ion-label>
          <h1>{{alumno.userInfo.nombreyapellidos}}</h1>
          <h2>{{alumno.userInfo.curso}}</h2>
          <p id="info">Pulsa para ver la información</p>
        </ion-label>
        <img id="img" src="{{alumno.userInfo.imagen}}">
    </ion-item>

    <ion-item-options side="end" class="centrar">
      <ion-item-option expandable color="danger" (click)="onClickNoFavorito(alumno.userInfo)">
        <ion-icon name="trash" slot="end"></ion-icon>
        Eliminar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>
