<ion-header>
  <ion-toolbar>
    <ion-title>Mostrar Alumnos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon id="filter" name="funnel" (click)="onClickFilter()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let alumno of alumnosLista">  
    <ion-item (click)="mostrarAlumno(alumno.userInfo)">             
        <ion-label>
          <h1>{{alumno.userInfo.nombreyapellidos}}</h1>
          <h2>{{alumno.userInfo.curso}}</h2>
        </ion-label>
        <img id="img" src="{{alumno.userInfo.imagen}}">
    </ion-item>

    <ion-item-options side="end" class="centrar">
      <ion-item-option expandable (click)="onClickEditarAlumno(alumno.userInfo)">
        <ion-icon name="create" slot="end"></ion-icon>
        Editar
      </ion-item-option>

      <ion-item-option color="danger" expandable  (click)="onClickBorrarAlumno(alumno.userInfo)">
        <ion-icon name="trash" slot="end"></ion-icon>
          Borrar
      </ion-item-option>
        
    </ion-item-options>
  </ion-item-sliding>

</ion-content>
