<ion-header>
  <ion-toolbar>
    <ion-title>Perfil Alumno</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onClickClose()">Cerrar Sesión</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-icon id="editar" name="create-outline" (click)="onClickEditar(userAlumno)"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <img id="img" src="{{alumnoImagen}}">
  </ion-item>

  <ion-item>
    <h2><b>E-Mail:</b> {{alumnoMail}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Nombre:</b> {{alumnoNombre}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Edad:</b> {{alumnoEdad}}</h2>
  </ion-item>

  <ion-item>
    <h2><b>Curso:</b> {{alumnoCurso}}</h2>
  </ion-item>

  <ion-item>  
    <h2><b>Formacion:</b> {{alumnoFormacion}}</h2>
  </ion-item>

  <ion-item *ngIf="expBool">  
    <h2><b>Experiencia:</b> {{alumnoExperiencia}}</h2>
  </ion-item>

  <ion-item>  
    <h2><b>Idiomas:</b> {{alumnoIdiomas}}</h2>
  </ion-item>

  <ion-item>  
    <h2><b>Nivel:</b> {{alumnoNivel}}</h2>
  </ion-item>

  <ion-item>  
    <h2><b>Datos:</b> {{alumnoDatos}}</h2>
  </ion-item>
  
</ion-content>
