<ion-header>
  <ion-toolbar>
    <ion-title>Ver Info Alumno</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onClickClose()">Log out</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-icon id="editar" name="create-outline" (click)="onClickEditar(userAlumno)"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <img id="img" src="{{alumnoImagen}}">
  </ion-item>

  <ion-item>
    <h1>E-Mail: {{alumnoMail}}</h1>
  </ion-item>

  <ion-item>
    <h1>Nombre: {{alumnoNombre}}</h1>
  </ion-item>

  <ion-item>
    <h2>Edad: {{alumnoEdad}}</h2>
  </ion-item>

  <ion-item>
    <h3>Curso: {{alumnoCurso}}</h3>
  </ion-item>

  <ion-item>  
    <h4>Idiomas: {{alumnoIdiomas}}</h4>
  </ion-item>

  <ion-item>  
    <h4>Datos: {{alumnoDatos}}</h4>
  </ion-item>
  
</ion-content>
