<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SOLVAM - Bolsa de Trabajo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-img id="img" src="../assets/img/logo2.png"></ion-img>
  </ion-item>
  
  <ion-item>
    <ion-input type="text" type="email" placeholder="EMAIL" [(ngModel)]="user"></ion-input>
  </ion-item>
  <p class="red">{{userfail}}</p>

  <ion-item>
    <ion-input type="{{tipopass}}" placeholder="Contraseña" [(ngModel)]="pass"></ion-input>
    <ion-icon id="ojo" name="eye" (click)="onClickEye()"></ion-icon>
  </ion-item>
  <p class="red">{{passfail}}</p>

  <ion-item>
    <ion-button id="login" type="submit" class="ion-no-margin" (click)="onClickLogin()">Acceder</ion-button>
  </ion-item>

  <ion-item>
    <p id="register" (click)="goRegister()">Registrarse</p>
    <a id="forget" (click)="onClickForgot()">Olvidé la Contraseña</a>
  </ion-item>

</ion-content>
