#img{
  position: relative;
  left: 22%;
}
#forget{
  position: relative;
  left: 250px;
}
#login{
  position: relative;
  left: 41%;
  width: 75px;
  height: 35px;
}

#register{
  position: relative;
  left: 42%;
}
.red{
  color: red;
  margin-left: 15px;
}