#img {
  position: relative;
  left: 18%;
}

#forget {
  position: relative;
  left: 30%;
}

#login {
  position: relative;
  left: 39%;
  width: 75px;
  height: 35px;
}

#register {
  position: relative;
  left: 5%;
}

.red {
  color: red;
  margin-left: 15px;
}