<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Elige el tipo de perfil con el que vayas a registrar tu usuario:</p>
  </ion-item>
  <ion-item>
    <ion-button color="dark" expand="block" (click)="onClickRegisterAdmin()">Administrador</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="medium" expand="block" (click)="onClickRegisterEmpresa()">Empresa</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="light" expand="block" (click)="onClickRegisterAlumno()">Alumno</ion-button>
  </ion-item>

</ion-content>